In [4]:
!pip install fastai==2.5.1 -q

In [5]:
from fastai.text.all import *
import pandas as pd

## Read Dataset

In [17]:
from google.colab import drive
drive.mount('/content/drive')
root = "/content/drive/MyDrive/deep_learning_salon/nlp_proj1_disaster_tweets"
os.chdir(root)
!ls

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
analysis  code	data  documentation  models

In [21]:
train_df = pd.read_csv(os.path.join(root, 'data/raw_dataset/train.csv'))
valid_df = pd.read_csv(os.path.join(root, 'data/raw_dataset/test.csv'))
train_df.head()

   id  ... target
0   1  ...      1
1   4  ...      1
2   5  ...      1
3   6  ...      1
4   7  ...      1

[5 rows x 5 columns]